<div fsFill fxLayout="column" fxLayoutAlign="center start">
  <button mat-button color="primary" (click)="observableCreate()"> create / observable</button>
  <button mat-button color="primary" (click)="fromClick()"> from (vários nexts) </button>
  <button mat-button color="primary" (click)="ofClick()"> of (um unico next = um objeto só)</button>
  <button mat-button color="primary" (click)="intervalClick()"> interval</button>
  <button mat-button color="primary" (click)="timerClick()"> Timer</button>
  <button mat-button color="primary" (click)="unSubscribeClick()"> unSubscribe</button>
</div>
