<div fsFill fxLayout="column" fxLayoutAlign="center start">
  <button mat-button color="primary" (click)="mapClick()"> map</button>
  <button mat-button color="primary" (click)="filterClick()"> Filter</button>
  <button mat-button color="primary" (click)="tapClick()"> tap</button>
  <button mat-button color="primary" (click)="takeClick()"> take / first e last</button>
  <button mat-button color="primary" (click)="debounceTimeClick()"> deBounceTime</button>


</div>

<div class="debounce-area"
matRipple matRippleCentered="true" matRippleColor="rgb(240,166,166,0.4)" matRippleRadius="40"
>


</div>
